build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/new-react-app1
    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/new-react-app1
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - ? name
    ? configType
    ? configPath
Last Updated By: Priyanshi Somani
Last Updated On: 2022-07-14T06:31:51.350Z
