build:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/new-react-app1
    # make all
    # docker build
deploy:
  type: bash
  bash: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/new-react-app1
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: "1"
    configType: artillery
    configPath: Priyanshii677/new-react-app1/
  - name: "2"
    configType: artillery
    configPath: Priyanshii677/react1/12
